body {
  margin: 0;
}


.navbar {
  padding: 5%;
  display: flex;
  align-items: center;
}

.navbar-logo {
  flex: 2;
}

.menu {
  flex: 1;
  align-self: flex-end;

  list-style-type: none;
  text-align: center;

  display: flex;
}

.menu li {
  text-align: center;
  padding: 10px;

  flex: 1;
}
